@model List<Pet>
@{
    ViewData["Title"] = "Home Page";
}


<h1>Hello</h1>

@* @if (Model != null && Model.Any())
{
    foreach (var pet in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@pet.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@pet.Name</h5>
                <p class="card-text">@pet.Description</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }

} *@
